<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bupacas"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Edit.PedidoEdit"
            android:exported="false" />
        <activity
            android:name=".Altas.PedidoAltas"
            android:exported="false" />
        <activity
            android:name=".Edit.ClienteEdit"
            android:exported="false" />
        <activity
            android:name=".Altas.ClienteAltas"
            android:exported="false" />
        <activity
            android:name=".Cliente"
            android:exported="false" />
        <activity
            android:name=".Pagos"
            android:exported="false" />
        <activity
            android:name=".Soporte.Privacidad"
            android:exported="false" />
        <activity
            android:name=".Soporte.ContactoSoporte"
            android:exported="false" />
        <activity
            android:name=".Soporte.ReportarError"
            android:exported="false" />
        <activity
            android:name=".Soporte.GuiaRapida"
            android:exported="false" />
        <activity
            android:name=".Altas.EnviosAltas"
            android:exported="false" />
        <activity
            android:name=".Altas.ProovedorAltas"
            android:exported="false" />
        <activity
            android:name=".Datos.DatosEnvio"
            android:exported="false" />
        <activity
            android:name=".Misceláneo.InicioSesionRegistro"
            android:exported="false" />
        <activity
            android:name=".Datos.DatosProv"
            android:exported="false" />
        <activity
            android:name=".Inventarios"
            android:exported="false" />
        <activity
            android:name=".Envios"
            android:exported="false" />
        <activity
            android:name=".Proveedores"
            android:exported="false" />
        <activity
            android:name=".Misceláneo.Soporte"
            android:exported="false" />
        <activity
            android:name=".Altas.NuevoUsuario"
            android:exported="false" />
        <activity
            android:name=".Edit.ProveedorEdit"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false" />
        <activity
            android:name=".Misceláneo.NoDisponible"
            android:exported="false" />
        <activity
            android:name=".Misceláneo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>